.DS_Store

g4_frontend/.idea/
g4_frontend/.vscode/
g4_frontend/.sass-cache/
g4_frontend/.versions/
g4_frontend/dist/
g4_frontend/dist-transpiled/
g4_frontend/node_modules/
g4_frontend/tmp/
g4_frontend/temp/
g4_frontend/.DS_Store
g4_frontend/packages/angular/css/
g4_frontend/packages/angular/test/build/
g4_frontend/.angular/

g4_backend/.idea/
g4_backend/.vscode/
g4_backend/.sass-cache/
g4_backend/.versions/
g4_backend/dist/
g4_backend/dist-transpiled/
g4_backend/node_modules/
g4_backend/tmp/
g4_backend/temp/
g4_backend/.DS_Store

actualizar.sh
