<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Asignacion de Bines</ion-title>
    <ion-buttons slot="end">
      <!--
      <ion-button color="primary" (click)="guardar()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button> -->
      <ion-button color="danger" (click)="cerrar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  


</ion-content>
